@import "../../../../theme/lib/breakpoints";
@import "../../../../theme/lib/mixins";
@import "../../../../theme/lib/colors";

.card__wrap {
  background-color: $whiteColor;
  border-radius: 6px;
  box-shadow: 0 0.04rem 0.08rem 0 rgba(0, 0, 0, 0.2);
  padding: 35px 35px 40px 35px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-around;
}

.card__animated {
  @include transition(all 0.4s);

  &:hover {
    backface-visibility: hidden;
    transform: scale(1.05, 1.05);
    @include box-shadow(0 3rem 1.8rem -0.08rem rgba(0, 0, 0, 0.1));
  }
}

.card__title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.card__description {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: left;
  margin-bottom: 1.5rem;
}
