@import "../../../theme/lib/breakpoints";
@import "../../../theme/lib/colors";

.header__logo {
  padding: 1.2rem 2rem;
  width: 40rem;
}

.header__img {
  display: inline-block;
  vertical-align: middle;
}

.header__menu {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  float: right;
}

.header__title {
  font-size: 1.8rem;
  margin: 0 0 0 1rem;
  display: inline-block;
  line-height: 1.8rem;
  vertical-align: middle;
}

/*menu header*/
.header {
  padding: 1.5rem 25px;
}
.header__elenco {
  padding: 0;
  margin: 0;
  list-style: none;
  float: right;
}

.header__el {
  padding: 0 25px;
  display: inline-block;
}

.header__link {
  color: $mainFontColor;
  font-size: 14px;
}
.header__link:hover {
  text-decoration: none;
  color: $blueFontColor;
}

.header__light {
  color: $grayLightColor;
}

.navbar-toggle .icon-bar {
  background-color: $grayLightColor;
}

.navbar-toggle {
  margin: 0.5rem 0;
}

.collapse {
  display: block;
}

.header__container {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@include respond-below(md) {
  .collapse {
    display: none;
  }
  .navbar-toggle {
    margin: 0;
    display: inline-block;
    margin-right: 1rem;
    margin-top: 1rem;
  }
  .header__menu {
    width: 100%;
  }
  .header {
    background-color: #fff;
    padding: 0;
    box-shadow: 0 0.02rem 1rem rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
  }

  .header__el {
    display: block;
    padding: 1rem 2rem;
    border-top: 0.01rem solid #ededed;
  }

  .header .btn--white,
  .header .btn--white:hover {
    padding: 0;
    border: 0;
    box-shadow: none;
    color: #fff;
    background-color: transparent;
  }
  .header__el--blue {
    background-color: #3a9fff;
  }
}

@include respond-below(xs) {
  .header__title {
    display: none;
  }
}
