@import "../../../theme/lib/breakpoints";
@import "../../../theme/lib/colors";

.logo__wrap {
  padding: 1.2rem 0;
  width: 20rem;
}

.logo__img {
  display: inline-block;
  vertical-align: middle;
}

.logo__title {
  font-size: 1.5rem;
  margin: 0 0 0 1rem;
  display: inline-block;
  line-height: 1.5rem;
  vertical-align: middle;

  &.logo__title-contrast {
    color: $whiteColor;
  }
}

.logo__light {
  color: $grayLightColor;
  font-size: 2rem;

  &.logo__light-contrast {
    color: $whiteColor;
  }

  &.logo__light-primary {
    color: $grayLightColor;
  }
}
