@import "../../../theme/lib/breakpoints";
@import "../../../theme/lib/mixins";
@import "../../../theme/lib/colors";

.clients__header {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-flow: column nowrap;
  margin: 10rem 0 3.5rem;
}
.clients__title {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.clients__subtitle {
  font-size: 1.8rem;
  color: $grayLightColor;
}

.clients__row {
  display: flex;
  flex-flow: row wrap;
}

.client__wrap {
  width: calc((100% / 3) - 5rem);
  height: 5rem;
  margin-bottom: 3rem;
  padding: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @include respond-below(md) {
    width: calc((100% / 2) - 5rem);
  }

  @include respond-below(xs) {
    width: calc(100% - 5rem);
  }
}

.client__img {
  height: 5rem;
  opacity: 0.5;
  @include transition(all 0.4s);

  &:hover {
    transform: scale(1.08, 1.08);
    @include opacity(0.9);
  }
}
